@import './utils/variables';
@import './utils/mixin';
@import './base/normalize';
@import './base/commons';
@import './components/header';
@import './components/logo';
@import './components/navigate';
@import './components/contacts';
@import './components/hero';
@import './components/modal';
@import './components/modal-form';
@import './components/advantage';
@import './components/works';
@import './components/team';
@import './components/team-social-icons';
@import './components/clients';
@import './components/footer';
@import './components/footer-address';
@import './components/footer-icons';
@import './components/footer-form';
