.contacts-list {
  padding: 0px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts-list__item {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 16px;
    }
  }
}

.contacts-list__item--right {
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

.contacts-list__link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $main-text-color;
  font-family: inherit;
  @include font(18px, 1.17, 500);
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    @include font(12px, 1.17, 500);

    &.link-bottom {
      padding-bottom: 20px;
      padding-top: 0;
    }
    &.link-top {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    @include font(14px, 1.14, 500);

    &.link-bottom,
    &.link-top {
      padding-bottom: 32px;
      padding-top: 32px;
    }
  }
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    &.icon-mail {
      width: 16px;
      height: 11px;
    }
    &.icon-tel {
      width: 10px;
      height: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    &.icon-mail {
      width: 14px;
      height: 10px;
    }
    &.icon-tel {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: 1200px) {
    &.icon-mail {
      width: 16px;
      height: 12px;
    }
    &.icon-tel {
      width: 10px;
      height: 16px;
    }
  }
}
