.header {
  position: relative;
  height: 80px;
}

.container.head {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-navigate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
