.hero {
  height: 600px;
  max-width: 1600px;
  padding: 200px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-mod.jpg);
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: $white-color;
  @include font(44px, 1.36, 900);
}

.hero__button {
  padding: 10px 32px;
}
