.modal-form__field {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 28px;
  text-align: start;
}

.modal-form__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form__name {
  margin-bottom: 4px;
  font-family: inherit;
  @include font(12px, 1.17);
  letter-spacing: 0.01em;
  color: $main-text-color;
}

.modal-form__input {
  height: 40px;

  margin: 0px;
  padding: 12px 42px;

  border: 1px solid $form-input-color;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accent-color;
  }
}

.modal-form__icon {
  position: absolute;

  left: 12px;
  top: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: $accent-color;
  }
}

.modal-form__textarea {
  padding: 12px 16px;
  margin-bottom: -8px;
  resize: none;
  outline: none;
  border: 1px solid $form-input-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    font-family: inherit;
    @include font(12px, 1.17);
    letter-spacing: 0.01em;
    color: $placeholder-color;
  }
}

.modal-form__checkbox {
  padding-left: 52px;
  padding-right: 51px;
  margin-bottom: 30px;
}

.modal-form__checkbox-label {
  @include font(14px, 1.71);
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.modal-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__checkbox-text:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;

  .modal-form__checkbox-input:checked + & {
    background-color: $accent-color;
    background-image: url(../img/icon/iconcheck.svg);
    background-origin: border-box;
    border-color: transparent;
  }
}

.modal-form__checkbox-link {
  font-family: inherit;
  color: $accent-color;
  text-decoration-line: underline;
}

.modal-form__button {
  padding: 10px 40px 10px 56px;
}
