.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  // margin-bottom: 34px;
}

.services-list__item {
  margin-right: 8px;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

// .services-list__item:not(:last-child) {
//   margin-right: 8px;
// }

.services-list__link {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: $title-text-color;
  background-color: $second-background-color;
  font-family: inherit;
  font-style: normal;
  @include font(16px, 1.6, 500);
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
